 <div class="main">
   <div class="grid">
     <div class="booknow-form">
         <div class="center-flex">
       <h1 class="a">Book now</h1>
       <form>
         <table style="width:100%">
           <tr>
             <td>
               <input type="text" placeholder="Name"></td>
             <td> <input class="rght-aln" type="text" placeholder="Mobile"> </td>
           </tr>
           <tr>
             <td>
               <label>Occasion*</label> </td>
             <td> <select name="Occasion">


                 <option value="Occassion1">Occassion1</option>
                 <option value="Occassion2">Occassion2</option>
                 <option value="Occassion3">Occassion3</option>
                 <option value="Occassion4">Occassion4</option>
               </select>
             </td>
           </tr>
           <tr>
             <td>
               <label>Approximate no.of guests*</label> </td>
               <td> <select name="Occasion">


                 <option value="Occassion1">Less than 100</option>
                 <option value="Occassion2">Greater than 500</option>
                 <option value="Occassion3">Greater than 1000</option>
                 <option value="Occassion4">Greater than 2000</option>
               </select>
             </td>
           </tr>
           <tr>
                <td>
                  <label>Type of service*</label> </td>
                  <td> <select name="Occasion">
   
   
                    <option value="Occassion1">Service1</option>
                    <option value="Occassion2">Service2</option>
                    <option value="Occassion3">Service3</option>
                    <option value="Occassion4">Service4</option>
                  </select>
                </td>
              </tr>
              <tr>
                    <td>
                      <label>Select menu*</label> </td>
                      <td> <select name="Occasion">
       
       
                        <option value="Occassion1">menu1</option>
                        <option value="Occassion2">menu2</option>
                        <option value="Occassion3">menu3</option>
                        <option value="Occassion4">menu4</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                  <label>Services required</label>
                  </tr>
                   <tr>
          
                      
                    </tr>
         </table>

       </form>
    </div>
     </div>
     <div class="map-gif map">
       <img class=" " src="assets/bismi/kerala-map.gif">
     </div>
   </div>
   <div class="google-map">
     <div class="mapouter">
       <div class="gmap_canvas"><iframe id="gmap_canvas"
           src="https://maps.google.com/maps?q=Bismi%20Delight%20Catering.&t=&z=13&ie=UTF8&iwloc=&output=embed"
           frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
       <style>
         .mapouter {
           position: relative;
           text-align: right;
         }

         .gmap_canvas {
           overflow: hidden;
           background: none !important;
         }

       </style>
     </div>

   </div>

 </div>
