 <div class="margin">

   <div class="title">
     <h1 class="a">Our recipes</h1>
   </div>

   <div uk-slider="center: true">

     <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

       <ul class="uk-slider-items uk-child-width-1-4@s uk-grid">
         <li>

           <div class="uk-card uk-card-default">

             <div class="container">
               <div class="uk-card-media-top">
                 <img src="https://img.delicious.com.au/CKMUcpx-/w1200/del/2015/11/summer-cocktails-24374-3.jpg" alt="">
               </div>
               <div class="uk-card-body">
                 <h5 class="uk-card-title">WELCOME DRINK</h5>
               </div>
               <div class="overlay">
                 <div class="content">
                   <div class="test" style="text-align: center">WELCOME DRINK</div>


                   <ul>
                     <li class="nil">
                       Apple Milk
                     </li>
                     <li class="nil">
                       Mango Milk
                     </li>
                     <li class="nil">
                       Chikku Milk
                     </li>
                     <li class="nil">
                       Pista Milk
                     </li>
                     <li class="nil">
                       Badam Milk </li>
                     <li class="nil">
                       Cashew Milk
                     </li>
                     <li class="nil">
                       Strawberry Milk </li>
                     <li class="nil">
                       Chocolate Milk </li>
                     <li class="nil">
                       Butter Milk - (Salt / Masala) </li>
                     <li class="nil">
                       Tender Coconut Punch </li>
                     <li class="nil">
                       Mint Lime </li>
                     <li class="nil">
                       Watermelon Lime </li>
                     <li class="nil">
                       Naruneendi Sarbath (Water / Milk based) </li>
                     <li class="nil">
                       Pineapple Lime
                     </li>
                     <li class="nil">
                       Ginger Lime
                     </li>
                     <li class="nil">
                       Apple Milk
                     </li>
                     <li class="nil">
                       Arabian Delight
                     </li>
                 
                   </ul>



                 </div>

               </div>
             </div>

           </div>


         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="https://img1.wsimg.com/isteam/stock/pW2JBO1" alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">JUICE LIVE STATION</h5>
             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">JUICE LIVE STATION</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="https://img.thrfun.com/img/195/673/soup_x2.jpg" alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">SOUP VARIETIES</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">SOUP VARIETIES</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>

         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="https://craftlog.com/m/i/3136910=s1280=h960" alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">STARTERS</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">STARTERS</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>

           </div>
         </li>



         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img
                 src="https://barefeetinthekitchen.com/wp-content/uploads/2017/12/Salads-Everyday-5-1-of-1-500x500.jpg"
                 alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">SALADS</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">SALADS</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>

             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="http://031b7b3.netsolhost.com/WordPress/wp-content/uploads/2012/08/cilantro-lime-rice-2.jpg"
                 alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">RICE (Indian,Chinese & Arabian)</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">RICE (Indian,Chinese & Arabian)</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img
                 src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F4_3_horizontal_-_1200x900%2Fpublic%2F1502987547%2FGettyImages-545286388.jpg%3Fitok%3DkGrhiiMo&w=400&c=sc&poi=face&q=85"
                 alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">CHINESE CUISINE</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">CHINESE CUISINE</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img
                 src="https://image-assets.access.myfave.gdn/attachments/0ebd33b189f6ac29a4b1d62ae684d3af7101d380/store/fill/800/500/daa14a542d9a9ca5fa78e9b26742b589b10829cf6771e747853e4d6e14c3/activity_image.jpg"
                 alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">ARABIAN CUISINE</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">ARABIAN CUISINE</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="https://www.gujaratirecipe.in/wp-content/uploads/2018/09/diffrence-type-of-indian-bread.jpg"
                 alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">BREADS VARIETIES</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">BREADS VARIETIES</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="http://shopzters.com/js/kcfinder/upload/images/CNLC04.jpg" alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">LIVE STATION</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">LIVE STATION</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="https://static.toiimg.com/photo/69859302.cms?imgsize=365132" alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">CHICKEN DISHES</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">CHICKEN DISHES</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img src="https://www.lekhafoods.com/media/202090/chilli-mutton-fry.jpg" alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">MUTTON DISHES</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">MUTTON DISHES</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>
         <li>
           <div class="uk-card uk-card-default">
               <div class="container">
             <div class="uk-card-media-top">
               <img
                 src="https://iowagirleats.com/wp-content/uploads/2015/06/Perfect-Grilled-Steak-with-Herb-Butter-iowagirleats-03.jpg"
                 alt="">
             </div>
             <div class="uk-card-body">
               <h5 class="uk-card-title">BEEF DISHES</h5>

             </div>
             <div class="overlay">
                    <div class="content">
                      <div class="test" style="text-align: center">BEEF DISHES</div>
   
   
                      <ul>
                        <li class="nil">
                                Mango
                        </li>
                        <li class="nil">
                                Pineapple
                        </li>
                        <li class="nil">
                                Pomegranate
                        </li>
                        <li class="nil">
                                Guava
                        </li>
                        <li class="nil">
                                Amla </li>
                        <li class="nil">
                                Cucumber
                        </li>
                        <li class="nil">
                                Grape </li>
                        <li class="nil">
                                Banana </li>
                        <li class="nil">
                                Shamam (Musk Melon ) </li>
                        <li class="nil">
                                Watermelon </li>
                        <li class="nil">
                                Chikku (Sapota) </li>
                        <li class="nil">
                                Papaya </li>
                         
               
                    
                      </ul>
   
   
   
                    </div>
   
                  </div>
             </div>
           </div>
         </li>


       </ul>

       <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
         uk-slider-item="previous"></a>
       <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
         uk-slider-item="next"></a>

     </div>


   </div>
   <hr />

   <div class="title">
     <h1 class="a">Menu items</h1>
   </div>

   <!-- BUTTON TEXT -->
   <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
            <li>
                    <div class="uk-card uk-card-default">
                <div class="button">
                    MENU 1
                </div>
                </div>
                 
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                    <div class="button">
                        MENU 2
                    </div>
                    </div>
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                    <div class="button">
                        MENU 3
                    </div>
                    </div>
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                   <div class="button">
                       MENU 4
                   </div>
                   </div>
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                   <div class="button">
                       MENU 5
                   </div>
                   </div>
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                   <div class="button">
                       MENU 6
                   </div>
                   </div>
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                   <div class="button">
                       MENU 7
                   </div>
                   </div>
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                   <div class="button">
                       MENU 8
                   </div>
                   </div>
            </li>
            <li>
                    <div class="uk-card uk-card-default">
                    <div class="button">
                        MENU 9
                    </div>
                    </div>
             </li>
       
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    </div>
<!-- END BUTTON TEXT -->
 </div>
