 
<header class="header">
  <a href="" class="logo">

    <img src="assets/bismi/logo.png">
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/menu">Menu</a></li>

    <div class="mob-footer" style="text-align: center;">
      <div class="con"><a class="a"> <img class="ic" src="assets/bismi/call-answer.svg"> &nbsp;&nbsp;9562400700 | 9562500800</a></div>
     <br>
      <div class="con"><a class="a"> <img class="ic" src="assets/bismi/close-envelope.svg">&nbsp;&nbsp;bismidelight@gmail.com </a></div>
     <br>
      <div class="con"><a class="a">  <img class="ic" src="assets/bismi/whatsapp-logo.svg">&nbsp;&nbsp;9744888707</a></div>
  
    </div>
    
  </ul>
 
</header>