a {
    color: #CE0505;
     
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    height: 95px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    // border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 44px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 8px;
  }
  
  .header .menu-icon .navicon:after {
    top: -8px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 250vh; 
    z-index: 9;
//  height: 100vh;   
.mob-footer{
text-align: center;
bottom: 11px;
display: grid;
position: fixed;
width: 100%;
transition: all .2s ease-in;
transition-delay: all .2s;
}

  }
  // .menu :active {
  //   height: 100vh !important;
  // }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {

    .mob-footer {
      display: none;
    }

    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: left;
      max-height: none;
      margin-left: 55px;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  
  .menu {
    height: 100vh !important;
    // background: #000;
    
  }

  .menu li {
    text-align: center;

  }

  .logo img {
      height: 66px;
  }

  .logo {
      margin-left: 44px;
      margin-top: 11px;
  }
  .menu {
    margin-top: 17px !important;
  }
  .menu-btn {
    margin-top: 17px !important;
  }

  @media screen and (max-width: 777px) { 

    .logo img {
        height: 55px;
    }
  
    .logo {
        margin-left: 7px;
    }
    
  }
.mob-footer {
  text-align: center;
//  margin-top: 55%;

}

@media screen and (min-width: 766px) { 
  .menu {
  height: 50px !important;
  }
} 

@media screen and (min-height: 800px) { 
.mob-footer {
//   margin-top: 77%;
}
}