 .margin {
     margin-top: 155px;
    //  padding-left: 55px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 66px;
 }

 .uk-card{
     border-radius: 11px;
     border: 1px solid #bebebe;
 }
 .uk-card img {
     border-top-right-radius: 11px;
     border-top-left-radius: 11px;
 }

 .uk-card-title{
     text-align: center;
     color:    #CE0505 ; 
 }
 .uk-card-body{
    height: 267px;
 }
 .uk-card-media-top img {
    //  width: 100%;
    //  height: 200px;
    //  object-fit: cover;
 }
 .ser-title{
     margin-top: 3%;
     margin-bottom: 10px;
 }

 .uk-card-body p{
     text-align: center;
     

 }
 .uk-cover-container{
     border: 1px solid #f2f2f2;
 }

 .uk-transition-toggle {
     height: 200px;
    //  width: 80%;
     border: 1px solid #aaa;
     margin-right: 15px;
     margin-left: 2px;
     border-radius: 15px;
 }
 .uk-transition-slide-bottom-small {
     color: #CE0505;
 }