<div class="main">
    <div class="grid slideshow" id="slideshow">
        <div class="content">
            <div class="des">
                <div>
                    <div class="grt">
                        <h1 class="a">Great food. Great Events. <br> Anytime Anywhere
                        </h1>
                    </div>
                    <div class="st-ds">
                        <span class="sht-des">
                                A team committed to value, service and style.
                              </span>
                    </div>
                    <br><br>
                    <div class="btn">

                        <button class="book-now a"><a style="color:#CE0505;" routerLink="booknow"> BOOK NOW</a> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="images">

            <div class="img-grid">
                <div class="brd">

                </div>
                <div class="brd">
                    <img class="img-sz" src="assets/bismi/1.png">
                </div>
            </div>
            <div class="img-grid2">
                <div class="brd">
                    <img class="img-sz" src="assets/bismi/2.png">
                </div>
                <div class="brd">
                    <img class="img-sz" src="assets/bismi/3.png">
                </div>
            </div>
            <div class="img-grid3">
                <div class="brd"></div>
                <div class="brd">
                    <img class="img-sz" src="assets/bismi/4.png">
                </div>
            </div>


        </div>

    </div>
</div>